<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="app">
        <p>{{ message.value }}</p>
        <p>{{ message.value.length }}</p>
        <p>{{ list[2] }}</p>
        <p>{{ list[num] }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
